  <header>
        <nav>
          <ul class="navbar-nav me-auto d-flex flex-row align-items-center justify-content-between w-100">
            <li class="nav-item"> <a href="/">Accueil</a></li>
            <li class="nav-item"> <a href="/gears">Équipements</a></li>
                  <% if user_signed_in? %>
                    <li class="nav-item dropdown">
                    <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= image_tag "https://avatars.githubusercontent.com/u/100966173?v=4", class: "avatar", alt: "dropdown menu" %></a>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <%= link_to "Profile", profile_path, class: "dropdown-item" %>
                        <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                      </div>
                    </li>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
                    </li>
                  <% end %>
          </ul>
        </nav>
    </header>
