<div class="container mt-5">

  <h1>Profil de l'utilisateur</h1>

  <p>Nom : <%= @user.last_name %></p>
  <p>Prénom : <%= @user.first_name %></p>
  <p>Email : <%= @user.email %></p>
  <% if @user.telephone %>

    <p>Numéro de téléphone : <%= @user.telephone %></p>
  <% end %>

</div>
