header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 50px 20px 20px 50px;
  z-index: 1000;
}
.mt-navbar{
  margin-top: 5rem;
}

.navbar-lewagon {
  justify-content: space-between;
  // background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
